/* hola 1 first div

hola 2 first div and nav class

hola 3 header h1 id

hola 4 h2 

hola 6 paragraph id

hola 5 div last list class

hola 10 last U list id

hola 9 last list id */


/* --------------------------------------------------------------------------------- */


body {
    font-family: 'PT sans', sans-serif;
    background-color: #1d9ba6;
    margin: 0%;
    color: #ffffff;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #ffffff;

}

#hola1 {
    margin-top: 22vh;
    margin: 0;
    padding: 0;
    background-image: url(anime2.jfif.jpg);
    background-position: relative;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
}

.container {
    margin-top: 22vh;
}

#hola3 {
    font-size: 65px;
    margin-bottom: 0%;
    text-align: center;
    margin-bottom: 0;
}


#hola4 {
    font-size: 35px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}


/* navbaar */
.hola2 {
    height: 50px;
    width: 100%;
    background-color: rgb(12, 143, 135);
    position: fixed;

}

.hola2 {
    padding: 0%;
    margin: 0%;

}

.hola2 li {
    display: inline;

}

.hola2 a {
    display: inline-block;
    width: 130px;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 10px;



}

.hola2 li:hover {
    background-color: rgb(5, 45, 58);
    background-size: 100px;
}

.hola5 {
    width: 900px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    text-align: left;
    font-size: 15px;
    padding: 15px;

}


#hola6 {
    font-size: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

#hola9 {
    list-style-type: none;

}

#hola10 {
    font-size: 18px;


}

pre {
    font-size: 15px;
    font-family: sans-serif;
    height: 10px;
    width: 100%;
    color: #ffffff;
    background-color: rgb(5, 72, 79);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    text-decoration: none;
}

/* hola11 and hola 12 used for creating about us section  */

.hola11 h2 {
    color: black;
    font-size: 35px;
    margin-bottom: 2%;
    margin-top: 0%;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 8px;

    /* h2 done */


}

.hola11 p {
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    padding: 0%;
    margin: 0%;
}

#hola12 {
    color: rgb(65, 60, 60);
    margin-top: 25px;
}

.hola11 {
    color: black;
}


/* hola13 certifications */

.hola13 h3 {
    font-style: italic;
    padding-left: 13px;
    padding-top: 11px;
    padding-bottom: 0%;
    margin-top: 25px;
    margin-bottom: 0%;
    color: rgb(51, 200, 183);
    font-weight: lighter;
    text-align: justify;



}

#hola133 {
    padding-left: 13px;
    margin-top: 0%;

}

.hola13 {

    /* background-image: url(anime4.jfif.png);
    background-size: 1800px;
    background-position: top;
    background-repeat: no-repeat;
    height: 110px;
    width: 100%; */
}

/* new codes */

.formhtml0 {
    padding-left: 495px;
    padding-right: 495px;
    margin-top: 10px;
}

.formhtml {

    color: rgb(255, 255, 255);
    background-image: url(anime4.jfif.png);
    background-repeat: no-repeat;
    background-position: lefts;
    background-size: 10px;
    width: 500px;


    border-left: 2px;
    border-right: 2px;
    border-bottom: 0;
    border-top: 0;
    border-color: rgb(0, 0, 0);
    border-style: inset;
    padding: 0%;
    margin: 0%;


}

.formhtml2 {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.formhtml3 {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.formhtml4 {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}

.formhtml5 {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;

}

.bg1 {
    background-image: url(anime4.jfif.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}